<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {padding: 50px;font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
    </style>
  </head>
  <body>
    <h1>hello, welcome to our homepage!</h1>
    <div>Click this button to go to the matrix page:
      <button onclick="window.location='http://localhost:8080/matrix';">Go to Matrix</button>
    </div>
  </body>
</html>